{% extends "base.html" %}
{% load i18n bootstrap4 %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "index" %}">{% translate "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url "emr:patient-list" %}">{% translate "Patients" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url "emr:patient-detail" patient.id %}">{{ patient.full_name }}</a></li>
  <li class="breadcrumb-item active">{% translate "Create Medical Record" %}</li>
</ol>

<form method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-success">{% translate "Submit" %}</button>
  <a class="btn btn-danger" href="{% url "emr:patient-detail" patient.id %}">{% translate "Cancel" %}</a>
  {% endbuttons %}
</form>
{% endblock %}
