{% load i18n %}

<div class="accordion-item">
  <h1 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#medical-record">
      {% translate "Medical Record" %}
    </button>
  </h1>

  <div id="medical-record" class="accordion-collapse collapse show"
      data-bs-parent="#detail-accordion">
    <div class="accordion-body">
      <ul class="list-group list-group-flush">
        {% if patient.has_medical_record %}
          {% with medical_record=patient.medical_record %}
            <li class="list-group-item">
              <a class="btn btn-primary" href="{% url 'emr:medical-record-update' medical_record.id %}">
                {% translate "Update Medical Record" %}
              </a>
            </li>
            <li class="list-group-item">
              <table class="table table-striped">
                <tr>
                  <th>{% translate "Last Modified" %}</th>
                  <td>{{ medical_record.last_modified|date:"j/n/Y P" }}</td>
                </tr>
                <tr>
                  <th>{% translate "Current Condition" %}</th>
                  <td>{{ medical_record.current_condition }}</td>
                </tr>
                <tr>
                  <th>{% translate "Current Treatment" %}</th>
                  <td>{{ medical_record.current_treatment }}</td>
                </tr>
                <tr>
                  <th>{% translate "Reference" %}</th>
                  <td>{{ medical_record.reference }}</td>
                </tr>
                <tr>
                  <th>{% translate "Physical Exploration" %}</th>
                  <td>{{ medical_record.physical_exploration }}</td>
                </tr>
                <tr>
                  <th>{% translate "Diagnosis" %}</th>
                  <td>{{ medical_record.diagnosis }}</td>
                </tr>
                <tr>
                  <th>{% translate "Treatment to Follow" %}</th>
                  <td>{{ medical_record.treatment_to_follow }}</td>
                </tr>
                <tr>
                  <th>{% translate "Additional Notes" %}</th>
                  <td>{{ medical_record.additional_notes }}</td>
                </tr>
              </table>
            </li>
          {% endwith %}
        {% else %}
          <li class="list-group-item">
            <a class="btn btn-success" href="{% url 'emr:medical-record-create' patient.id %}">
              {% translate "Create Medical Record" %}
            </a>
          </li>
          <li class="list-group-item">
            {% translate "This patient doesn't have a medical record yet." %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
