{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#medical-record">{% trans "Medical Record" %}</a>
    </h1>
  </div>

  <div id="medical-record" class="panel-collapse collapse in">
    <ul class="list-group">

      {% if patient.has_medical_record %}
      {% with medical_record=patient.medical_record %}

      <li class="list-group-item">
        <a class="btn btn-primary" href="{% url "emr:medical-record-update" medical_record.id %}">{% trans "Update Medical Record" %}</a>
      </li>

      <li class="list-group-item">
        <table class="table table-striped">
          <tr>
            <th>{% trans "Current Condition" %}</th>
            <td>{{ medical_record.current_condition }}</td>
          </tr>
          <tr>
            <th>{% trans "Current Treatment" %}</th>
            <td>{{ medical_record.current_treatment }}</td>
          </tr>
          <tr>
            <th>{% trans "Reference" %}</th>
            <td>{{ medical_record.reference }}</td>
          </tr>
          <tr>
            <th>{% trans "Physical Exploration" %}</th>
            <td>{{ medical_record.physical_exploration }}</td>
          </tr>
          <tr>
            <th>{% trans "Diagnosis" %}</th>
            <td>{{ medical_record.diagnosis }}</td>
          </tr>
          <tr>
            <th>{% trans "Treatment to Follow" %}</th>
            <td>{{ medical_record.treatment_to_follow }}</td>
          </tr>
          <tr>
            <th>{% trans "Additional Notes" %}</th>
            <td>{{ medical_record.additional_notes }}</td>
          </tr>
        </table>
      </li>
      {% endwith %}

      {% else %}
      <li class="list-group-item">
        <a class="btn btn-success" href="{% url "emr:medical-record-create" patient.id %}">{% trans "Issue Medical Record" %}</a>
      </li>
      <li class="list-group-item">
        {% trans "This patient doesn't have a medical record yet." %}
      </li>
      {% endif %}

    </ul>
  </div>
</div>
