asgiref==3.11.0
boto3==1.41.4
botocore==1.41.4
coverage==7.12.0
dj-database-url==3.0.1
django==5.2.8
django-bootstrap5==25.3
django-extensions==4.1
django-s3-storage==0.15.0
eager==0.0.1
freezegun==1.5.5
gunicorn==23.0.0
jmespath==1.0.1
model-bakery==1.20.5
packaging==25.0
pillow==12.0.0
psycopg[c]==3.2.13
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
ruff==0.14.6
s3transfer==0.15.0
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.15.0
urllib3==2.5.0
whitenoise==6.11.0
