{% extends "base.html" %}
{% load static i18n bootstrap3 %}

{% block head %}
<link rel="stylesheet" href="{% static "emr/css/patients/detail.css" %}" type="text/css" media="all" />
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "index" %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url "emr:patient-list" %}">{% trans "Patients" %}</a></li>
  <li class="breadcrumb-item active">{{ patient.full_name }}</li>
</ol>

{% bootstrap_messages %}

<h1>{{ patient.full_name }}</h1>

<div class="panel-group" id="accordion">
  {% include "emr/patients/personal_information_snippet.html" %}
  {% include "emr/medical_records/detail_snippet.html" %}
</div>
{% endblock %}
