{% extends "base.html" %}
{% load static i18n django_bootstrap5 %}

{% block head %}
{{ js_data|json_script:"js-data" }}
<script src="{% static 'emr/js/patients/list.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'emr/css/patients/list.css' %}">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'index' %}">{% translate "Home" %}</a></li>
  <li class="breadcrumb-item active">{% translate "Patients" %}</li>
</ol>

{% bootstrap_messages %}

<h1>{% translate "Patients" %}</h1>

<a class="btn btn-success" href="{% url 'emr:patient-create' %}">{% translate "Add Patient" %}</a>

<div class="pt-3">
  <table class="table table-striped table-hover table-bordered" id="patient-list">
    <thead>
      <tr>
        <th>{% translate "Identification" %}</th>
        <th>{% translate "First Name" %}</th>
        <th>{% translate "Last Name" %}</th>
        <th>{% translate "Options" %}</th>
      </tr>
    </thead>
  </table>
</div>

{% verbatim %}
<script id="options-template" type="text/x-handlebars-template">
  <div class="options-md">
    <a class="btn btn-outline-dark" href="{{urls.view}}" title="{{lang.view}}">
      <span class="fa-solid fa-eye"</span>
    </a>
    <a class="btn btn-outline-dark" href="{{urls.update}}" title="{{lang.update}}">
      <span class="fa-solid fa-pen-to-square"</span>
    </a>
    <a class="btn btn-outline-dark" href="{{urls.delete}}" title="{{lang.delete}}">
      <span class="fa-solid fa-trash-can"</span>
    </a>
  </div>

  <div class="dropdown options-sm">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
      <span class="fa-solid fa-bars"></span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{urls.view}}">
        {{lang.view}}
      </a>
      <a class="dropdown-item" href="{{urls.update}}">
        {{lang.update}}
      </a>
      <a class="dropdown-item" href="{{urls.delete}}">
        {{lang.delete}}
      </a>
    </div>
  </div>
</script>
{% endverbatim %}
{% endblock %}
