{% extends "base.html" %}
{% load static i18n bootstrap4 %}

{% block head %}
{{ js_data|json_script:"js-data" }}
<script src="{% static 'emr/js/patients/list.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'emr/css/patients/list.css' %}">
<link href="{% static 'fontawesomefree/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "index" %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item active">{% trans "Patients" %}</li>
</ol>

{% bootstrap_messages %}

<h1>{% trans "Patients" %}</h1>

<a class="btn btn-success" href="{% url "emr:patient-create" %}">{% trans "Add Patient" %}</a>

<div class="pt-3">
  <table class="table table-striped table-hover table-bordered" id="patient-list">
    <thead>
      <tr>
        <th>{% trans "Identification" %}</th>
        <th>{% trans "First Name" %}</th>
        <th>{% trans "Last Name" %}</th>
        <th>{% trans "Options" %}</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}
