{% extends "base.html" %}
{% load static i18n bootstrap3 %}

{% block content_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js" charset="utf-8"></script>

<link rel="stylesheet" href="{% static "emr/css/patients/list.css" %}">
<script src="{% static "emr/js/patients/list.js" %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "index" %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item active">{% trans "Patients" %}</li>
</ol>

{% bootstrap_messages %}

<h1>{% trans "Patients" %}</h1>

<a class="btn btn-success" href="{% url "emr:patient-create" %}">{% trans "Add Patient" %}</a>

<div id="patient-list-container">
  <table class="table" id="patient-list">
    <thead>
      <tr>
        <th>{% trans "Identification" %}</th>
        <th>{% trans "First Name" %}</th>
        <th>{% trans "Last Name" %}</th>
        <th>{% trans "Options" %}</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}
