{% load i18n %}

<div class="card">
  <div class="card-header">
    <h1 class="mb-0">
      <a class="btn btn-link btn-block text-left" data-toggle="collapse"
          href="#personal-information">
        {% trans "Personal Information" %}
      </a>
    </h1>
  </div>

  <div id="personal-information" class="collapse" data-parent="#detail-accordion">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="btn btn-primary" href="{% url "emr:patient-update" patient.id %}">{% trans "Update Personal Information" %}</a>
        <a class="btn btn-danger" href="{% url "emr:patient-delete" patient.id %}">{% trans "Remove Patient" %}</a>
      </li>

      <li class="list-group-item table-responsive">
        <table class="table table-striped">
          {% if patient.has_profile_picture %}
          <tr>
            <th>{% trans "Profile Picture" %}</th>
            <td><img src="{{ patient.profile_picture.url }}" class="img-fluid rounded profile-picture"></td>
          </tr>
          {% endif %}

          <tr>
            <th>{% trans "Identification" %}</th>
            <td>{{ patient.identification }}</td>
          </tr>

          <tr>
            <th>{% trans "First Name" %}</th>
            <td>{{ patient.first_name }}</td>
          </tr>

          <tr>
            <th>{% trans "Last Name" %}</th>
            <td>{{ patient.last_name }}</td>
          </tr>

          <tr>
            <th>{% trans "Sex" %}</th>
            <td>{{ patient.sex_verbose }}</td>
          </tr>

          <tr>
            <th>{% trans "Date of Birth" %}</th>
            <td>{{ patient.date_of_birth }}</td>
          </tr>

          <tr>
            <th>{% trans "Age" %}</th>
            <td>{{ patient.age }}</td>
          </tr>

          <tr>
            <th>{% trans "Occupation" %}</th>
            <td>{{ patient.occupation }}</td>
          </tr>

          <tr>
            <th>{% trans "Phone Number" %}</th>
            <td>{{ patient.phone_number }}</td>
          </tr>
        </table>
      </li>

      <li class="list-group-item">
        <h2>{% trans "Address" %}</h2>
        <p>{{ patient.address }}</p>
      </li>
    </ul>
  </div>
</div>
