{% extends "base.html" %}
{% load static i18n django_bootstrap5 %}

{% block head %}
<script src="{% static 'emr/js/patients/create_update.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'index' %}">{% translate "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'emr:patient-list' %}">{% translate "Patients" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'emr:patient-detail' object.id %}">{{ object }}</a></li>
  <li class="breadcrumb-item active">{% translate "Update Personal Information" %}</li>
</ol>

<form method="post" enctype="multipart/form-data" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-success">{% translate "Submit" %}</button>
  <a class="btn btn-danger" href="{% url 'emr:patient-detail' object.id %}">{% translate "Cancel" %}</a>
</form>
{% endblock %}
