{% load static bootstrap4 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% bootstrap_javascript jquery='full' %}
    <script src="https://cdn.datatables.net/v/bs4/dt-2.1.5/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.es.min.js"
            integrity="sha512-5pjEAV8mgR98bRTcqwZ3An0MYSOleV04mwwYj2yw+7PBhFVf/0KcE+NEox0XrFiU5+x5t5qidmo5MgBkDD9hEw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% bootstrap_css %}
    <link href="https://cdn.datatables.net/v/bs4/dt-2.1.5/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
            integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" media="all" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    {% block head %}{% endblock %}
    <title>Folio</title>
  </head>

  <body>
    {{ LANGUAGE_CODE|json_script:"app-lang" }}
    {% include "navbar.html" %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
  </body>
</html>
