{% extends "base.html" %}
{% load static i18n %}

{% block head %}
<link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">{% translate "Welcome to Folio" %}</h1>
  <p class="lead">{% translate "Medical records, made easy" %}</p>

  {% if user.is_authenticated %}
  <a class="btn btn-lg btn-success" href="{% url "emr:patient-list" %}">{% translate "View Patients" %}</a>
  {% else %}
  <a class="btn btn-lg btn-success" href="{% url "login" %}">{% translate "Sign In" %}</a>
  {% endif %}
</div>
{% endblock %}
