{% load i18n nav %}

{% trans "Sign Out" as sign_out %}
{% trans "Sign In" as sign_in %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "emr:index" %}">Folio</a>
    </div>

    <div class="collapse navbar-collapse" id="main_navbar">
      <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
          <li><p class="navbar-text">{% blocktrans with user_name=user.get_full_name %}Hello, {{ user_name }}{% endblocktrans %}</p></li>
          {% navlink "logout" sign_out %}
        {% else %}
          {% navlink "login" sign_in %}
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
