{% extends "emr/base.html" %}
{% load i18n %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "emr:index" %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url "emr:patient-list" %}">{% trans "Patients" %}</a></li>
  <li class="breadcrumb-item active">{{ patient.full_name }}</li>
</ol>

<h1>{{ patient.full_name }}</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">
      <a href="#patient_details" data-toggle="collapse">{% trans "Personal Information" %}</a>
    </h1>
  </div>

  <div class="collapse in" id="patient_details">
    <ul class="list-group">
      <li class="list-group-item">
        <a class="btn btn-primary" href="{% url "emr:patient-update" patient.id %}">{% trans "Update Personal Information" %}</a>
        <a class="btn btn-danger" href="{% url "emr:patient-delete" patient.id %}">{% trans "Remove Patient" %}</a>
      </li>

      <li class="list-group-item">
        <table class="table table-striped">
          <tr>
            <th>{% trans "Identification" %}</th>
            <td>{{ patient.identification }}</td>
          </tr>

          <tr>
            <th>{% trans "First Name" %}</th>
            <td>{{ patient.first_name }}</td>
          </tr>

          <tr>
            <th>{% trans "Last Name" %}</th>
            <td>{{ patient.last_name }}</td>
          </tr>

          <tr>
            <th>{% trans "Sex" %}</th>
            <td>{{ patient.sex_verbose }}</td>
          </tr>

          <tr>
            <th>{% trans "Date of Birth" %}</th>
            <td>{{ patient.date_of_birth }}</td>
          </tr>

          <tr>
            <th>{% trans "Age" %}</th>
            <td>{{ patient.age }}</td>
          </tr>

          <tr>
            <th>{% trans "Occupation" %}</th>
            <td>{{ patient.occupation }}</td>
          </tr>

          <tr>
            <th>{% trans "Phone Number" %}</th>
            <td>{{ patient.phone_number }}</td>
          </tr>
        </table>
      </li>

      <li class="list-group-item">
        <h2>{% trans "Address" %}</h2>
        <p>{{ patient.address }}</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
