{% extends "pyfolio/base.html" %}
{% load i18n bootstrap3 %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url "index" %}">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item active">{% trans "Patients" %}</li>
</ol>

{% bootstrap_messages %}

<h1>{% trans "Patients" %}</h1>

<a class="btn btn-success" href="{% url "emr:patient-create" %}">{% trans "Add Patient" %}</a>

<table class="table">
  <thead>
    <tr>
      <th>{% trans "Identification" %}</th>
      <th>{% trans "First Name" %}</th>
      <th>{% trans "Last Name" %}</th>
      <th>{% trans "Options" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in patient_list %}
    <tr>
      <td>{{ patient.identification }}</td>
      <td>{{ patient.first_name }}</td>
      <td>{{ patient.last_name }}</td>
      <td>
        <a class="btn btn-default" href="{% url "emr:patient-detail" patient.id %}">{% bootstrap_icon "eye-open"%}</a>
        <a class="btn btn-default" href="{% url "emr:patient-update" patient.id %}">{% bootstrap_icon "pencil"%}</a>
        <a class="btn btn-default" href="{% url "emr:patient-delete" patient.id %}">{% bootstrap_icon "trash"%}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
