{% extends "base.html" %}
{% load static i18n %}

{% block content_css %}
<link rel="stylesheet" href="{% static "css/index.css" %}" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>{% trans "Welcome to Folio" %}</h1>
  <p>{% trans "Medical records, made easy" %}</p>

  {% if user.is_authenticated %}
  <a class="btn btn-lg btn-success" href="{% url "emr:patient-list" %}">{% trans "View Patients" %}</a>
  {% else %}
  <a class="btn btn-lg btn-success" href="{% url "login" %}">{% trans "Sign In" %}</a>
  {% endif %}
</div>
{% endblock %}
