{% load i18n %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "index" %}">Folio</a>
    </div>

    <div class="collapse navbar-collapse" id="main_navbar">
      <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">
              {% blocktrans trimmed with user_name=user.get_full_name %}
                Hello, {{ user_name }}
              {% endblocktrans %}
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">{% trans "Sign Out" %}</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{% trans "Sign In" %}</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
