name: build
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.14
          enable-cache: true
      - name: Install Dependencies
        run: make install-dev
      - name: Lint
        run: make lint
      - name: Run Tests
        run: make test
